/* 네비게이션 바 */
#bottom_nav {
    transition: all 0.3s linear;
    width: 100%;
    height: 90px;
    position: fixed;
    border-top: 1px #d8d8d8 solid;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 9px #00000029;
    opacity: 1;
    padding: 20px 0px;
}
/* 이후 스크롤 내리거나 올릴때 네비게이션 바 보이게 하려면 필요 */
.bottom_nav-show {
    bottom: 0;
    transition: all 0.3s linear;
}
/* 이후 스크롤 가만히 둘 때 네비게이션 바 사라지게 하려면 필요 */
.bottom_nav-hide {
    bottom: -80px;
    transition: all 0.3s linear;
}
/* 네이게이션 바 영역(20%씩 5개) */
.bottom_nav-box {
    width: 20%;
    float: left;
}
/* 네비게이션 바 모양 */
.bottom_nav-box div {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    display: inline-block;
    line-height: 50px;
    border-radius: 10%;
    border: 1px black solid;
    cursor: pointer;
    font-weight: bold;
}
/* 네비게이션 바 평소 상태 */
.bottom_nav-box-default {
    transition: all 0.1s linear;
    font: normal normal normal 10px/13px Noto Sans KR;
    letter-spacing: 0px;
    color: #3c3c4399;
    opacity: 1;
}
/* 네비게이션 바 선택된 상태 */
.bottom_nav-box-selected {
    transition: all 0.1s linear;
    text-align: center;
    font: normal normal normal 10px/13px Noto Sans KR;
    letter-spacing: 0px;
    color: #3b00ff;
    opacity: 1;
}
/* 반응형 = 750px 이상이면 750까지만 보여주고 이하면 크기에 마춰서 작게 보여줌 */
/* @media (max-width: 750px) {
    #nav {
        width: 100%;
    }
} */
